h1{
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.sidebar{
  width: 30%;
  float: right;
  background-color: yellow;
  font-size: 12px;
  text-align: center;
  padding-left: 20px;
}
body{
  background-color: black;
  background-image: url
}

.geaz{
  float: left;
  height: 500px;
  width: 500px;
}
.text{
  text-align: center;
  font-family: fantasy;
  color: white;
}
.white{
  color: white;
}
.column{
  width: 300px;
  float: right;

}
.img{
  width: 400px;
  height: 500px;
  padding-right: 100px;
}
