h1{
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.sidebar{
  width: 32%;
  float: right;
  background-color: orange;
  font-size: 12px;
  text-align: center;
  padding-left: 5px;
  border: 5px solid yellow;
}
.sidebar blockquote {
  font-style: italic;
  font-variant: small-caps;
}
.sidebar ul h3 {
  color: #404040
}
body{
  background-color: black;
}
.text{
  text-align: center;
  font-family: fantasy;
  color: white;
}
.white{
  color: white;
}
.column{
  width: 32%;
  height: 500px;
  float: right;
  border: 2px dotted white;
  background-color: #100000;
}
.img{
  width: 600px;
  height: 500px;
  position: absolute;
  bottom: 620px;
   right: 450px;
}
